@import "variables";
@import "main";
@import "reset";

html{
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  background: #FFFFFF;
}

