@import "variables";

.header {
  display: flex;
  align-items: center;
  width: 90vw;
  justify-content: space-between;
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1em;
    font-size: 1em;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5em;
      padding: 10px 20px;
      border-radius: 6px;
      transition: all 250ms ease-in-out;
      user-select: none;
      font-weight: 500;
    }
    li:hover {
      background: #f9f9f9;
      cursor: pointer;
    }
    li:active {
      transform: scale(0.95);
    }
  }
  .header__tertiary_column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
    span:first-child {
      font-size: 1.1em;
      font-weight: 500;
      color: $brand-color-red;
      cursor: pointer;
    }
    button {
      all: unset;
      cursor: pointer;
      padding: 12px 24px;
      background-color: $brand-color-red;
      border-radius: 10px;
      color: #FFFFFF;
      font-size: 1.1em;
      transition: all 300ms ease-in-out;
    }
    button:hover {
      border-radius: 16px;
      background-color: #FF7386;
      color: $dark-20;
    }
  }
}

.logo {
  color: $brand-color-red;
  transition: all 300ms ease-in-out;
  user-select: none;
}

.logo:hover {
  transform: scale(1.2);
}
