$brand-color-red: #EB3850;
$gradient-color-red: linear-gradient(#EB3850, #A93E4C);
$gradient-color-yellow: linear-gradient(#E3C79E, #D6AE7B);
$gradient-color-dark: linear-gradient(rgba(72, 85, 99, 0.85), rgba(41, 50, 60, 0.85));
$dark-10: #1A191E; // 100%
$dark-20: #47464A; // 80%
$support-01: #2962FF;
$support-02: #0BB07B;
$support-01: #2962FF;
$support-02: #0BB07B;
